.Avatar{
    width: 230px;
    height: 220px;
    padding: 20px 0px;
    text-align: center;
    color: #555555;
    font-size: 13px;
}
.Avatar img{
    display: block;
    width: 120px;
    height: 120px;
    margin: auto;

}
.Avatar_nav{
    width: 230px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.Avatar_nav li{
    width: 50px;
    float: left;
    list-style: none;
    color: #555555;
    font-size: 13px;
}