.Web{
    width: 230px;
}
.Web_li ul{
    padding-left: 10px;
}
.Web_li li{
    height: 30px;
    list-style: none;
}
.Web_li li a{
    color: #555555;
    font-size: 12px;
}
.Web_li li a:hover{
    color: #999999;
}